html {
    color: black;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 85%;
}

.flex-container {
    display: flex;
}