@use './variables' as *;
@use './mixins' as *;

.logo-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 30;

    .logo {
        padding: 1rem;
        width: 50%;
        border: 1px solid $borderColor;
        background-color: $headerColorOne;
    }

    nav {
        background-color: $backgroundColor;
        // padding: 1rem;
        width: 50%;
        border: 1px solid $borderColor;

        ul {
            display: flex;
            justify-content: center;
            gap: 6%;

            li {
                padding: 2rem;
            }
        }
    }
}

nav a {
    padding: 5px;
} 

nav 
a:hover {
    color: $buttonText;
    border: 1px solid $borderColor;
    cursor: pointer;

    a:focus {
        color: red;
    }
}

.color-blocks {
    display: flex;
    height: 85vh;
    border: 1px solid $borderColor;

    .orange-block {
        width: 50%;
        height: 100%;
        border: 1px solid $borderColor;
        background-color: $headerColorOne;
    }

    .green-block {        
    width: 50%;
    height: 100%;
    border: 1px solid $borderColor;
    background-color: $headerColorTwo;

    h1 {
        position: absolute;
        bottom: 28%;
        right: 5%;
        text-align: right;
    }
    }
}
