@use './variables' as *;

@mixin button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0.8rem 2rem;
    cursor: pointer;

    a {
        color: $buttonText;
    }
}
