@use './variables' as *;

html {
    font-size: 120%;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
}

p,
a,
li {
    color: $textColor;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 0.8rem);
}

h1 {
    font-size: clamp(4rem, 2vw, 2rem);
}

h3 {
    font-size: 2.5rem;
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    font-size: (0.8rem, 2vw, 1rem);
}

a:hover,
a:focus {
    color: $buttonText;
}

.logo {
    color: $textColor;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}