@use './variables' as *;

html {
    font-size: 120%;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
}

p,
a,
li {
    color: $textColor;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

h1 {
    font-size: clamp(1.5rem, 6vw, 4rem);
}

h3 {
    font-size: clamp(1.8rem, 5vw, 3rem);
}

h4 {
    font-size: clamp(1.5rem, 2vw, 0.8rem);
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    font-size: (0.8rem, 2vw, 1rem);
}

input,
textarea {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.05rem;
}

a:hover,
a:focus {
    color: $buttonText;
}

.logo {
    color: $textColor;
    font-size: clamp(1rem, 6vw, 3rem);
    letter-spacing: 0.2rem;
}

.contact-links {
    text-decoration: underline;
    color: $buttonText;
}

.form-button {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.05rem;
    
    button:hover {
        transform: none;
    }
}

.show-green h2 {
    font-size: clamp(1.5rem, 6vw, 3rem);
}

.contact h4 {
    margin: 5rem 0;
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    font-weight: lighter;
    text-align: left;
}
